# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
.venv/

# Environment files
.env
*.env

# VSCode project settings
.vscode/

# Database files (SQLite, etc.)
*.sqlite3
*.db
*.db-shm
*.db-wal
